<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- http://logback.qos.ch/manual/layouts.html -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{ISO8601} %highlight(%-5level) [%-15.15thread] %-50.50logger{49} %msg%n
            </Pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

</configuration>